.company__solutions{
    display: flex;
    flex-direction: row;
}

.company__solutions-image{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2rem;
}

.company__solutions-image img{
    width: 100%;
    height: 100%;
}

.company__solutions-content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.company__solutions-content h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-subtext);
}

.company__solutions-content h4:last-child{
    color: var(--color-blog);
}

.company__solutions-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;

    margin: 1rem 0;
}

.company__solutions-content p{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

@media screen and (max-width: 950px){
    .company__solutions{
        flex-direction: column;
    }

    .company__solutions-image{
        margin: 1rem 0;
    }

    .company__solutions-content{
        margin-top: 2rem;
    }
}