@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #292929  1.84%, #5c5c5c  102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE9152 -13.86%, #d1bb8d 99.55%);
  
  --color-bg: #BFD9D7;
  --color-footer : #dfc48b  ;
  --color-blog: #395B64;
  --color-text: #484848;
  --color-subtext: #AE9152  ;
}

/* bg: BFD9D7, logo: AE9152, letras: 353745  */
